<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="btdwiki.css">
    <title>BTD Wiki</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>

    <header>
        <h1>BTD WIKI</h1>

    </header>

    <main class="grid-container">
        <article class="zomg">
            <img src="zomg.jpeg" alt="zomg">
            <div class="zomg-text">
                <h2>ZOMG</h2>
                <p>ZOMGs will completely wreck your defense Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ipsum, sunt minus praesentium laborum, quidem pariatur, illo vero repellendus omnis reprehenderit officiis magnam. Consequatur, beatae! Molestiae error voluptatum ipsum eum?</p>
            </div>
        </article>

        <article class="bfb">
            <img src="bfb.jpeg" alt="bfb">
            <div>
                <h3>BFB</h3>
                <p>BFBs are also pretty tough Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam corporis voluptatum earum adipisci magnam vitae. Reiciendis fugiat dolor tempora aspernatur enim. </p>
            </div>

        </article>

        <article class="thales">
            <img src="thales.jpeg" alt="thales">
            <div>
                <h3>thales</h3>
                <p>Thales thales thales-y tough Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam corporis voluptatum earum adipisci magnam vitae. Reiciendis fugiat dolor tempora aspernatur enim. Ab dolorum cupiditate repellat dolore officia labore expedita fuga.</p>

            </div>

        </article>

        <article class="nuke">
            <img src="nuke.jpeg" alt="nuke">
            <div>
                <h3>thales</h3>
                <p>I nuke i nuke Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos voluptatibus voluptas possimus ipsa a assumenda aliquam maiores qui! Ducimus cupiditate ex odio, quas numquam consectetur animi repellat alias facilis veritatis!.</p>
            </div>

        </article>


    </main>
</body>
</html>

