<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>

</head>
<body>

    <%- include('partials/nav.ejs') %>

    <div>
        <h1>Choose a girl to marry</h1>
        <p>Plump <strong>rear</strong>, perky <strong>feeders</strong>, and <b>wide birthing hips</b></p>
        <p><small>marry the </small> <em>fat bottomed, submissive</em> girl</p>
    </div>

    <div>
        <ul>   
            <li>perky breasts</li>
            <li>fat bottom</li>
            <li>fertile hips</li>
        </ul>
    
        <ol>   
            <li>v depth</li>
            <li>short stature</li>
            <li>fat distribution</li>
        </ol>
    </div>

    <p style="color: red">Their booties shake tantalizingly</style>
    
        <br>

    <section class="images">
        <a href="https://wikiofcelebs.com/2023/02/spicyuuu.html">
            <img src="SPICYUUU.webp" alt="Spicyuuu" class="abc">
        </a>
    
        <a href="https://www.famousbirthdays.com/people/ella-freya.html">
            <img src="Ella.jpeg" alt="Ella">
        </a>
    </section>



</body>
</html>
