<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="mason.css">

    <title>404</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>

    <header>
        <nav class="navigation">
            <p>girls</p>
            <p>tummy</p>
            <h1>
                <div>express</div>
                <div>your desires</div>
            </h1>
            <p>head</p>
            <p>pat</p>

        </nav>
    </header>
    <main>
        <div class="short">
            <h3>1note about fatty bottomed girls</h3>
            <p>nutrition x3</p>
            <a href="https://wikipedia.com/wiki/vagina">more info</a>
        </div>
        <div class="tall">
            <img src="bfb.jpeg" alt="bfb">
            <p>2</p>
        </div>
        <div class="short">
            <h3>3note about fatty bottomed girls</h3>
            <p>nutrition x3</p>
            <a href="https://wikipedia.com/wiki/ovary">more info</a>
        </div>
        <div class="tall">
            <img src="zomg.jpeg" alt="zomg">
            <p>4</p>
        </div>
        <div class="short">
            <img src="thales.jpeg" alt="thales">
            <p>5</p>
        </div>
        <div class="tall">
            <h3>6note about fatty bottomed girls</h3>
            <p>nutrition x3</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod obcaecati amet qui quo dignissimos ratione sunt perferendis, distinctio necessitatibus alias omnis eligendi explicabo error quisquam aliquid ipsum id vero odio.
            </p>
            <a href="https://wikipedia.com/wiki/vagina">more info</a>
        </div>
        <div class="tall">
            <img src="bfb.jpeg" alt="bfb">
            <p>7</p>
        </div>
        <div class="short">
            <h3>8note about fatty bottomed girls</h3>
            <p>nutrition x3</p>
            <a href="https://wikipedia.com/wiki/ovary">more info</a>
        </div>
        <div class="short">
            <img src="zomg.jpeg" alt="zomg">
            <p>9</p>
        </div>
        <div class="short">
            <img src="thales.jpeg" alt="thales">
            <p>10</p>
        </div>
        <div class="tall">
            <img src="bfb.jpeg" alt="bfb">
            <p>11</p>
        </div>
    </main>

</body>
</html>
