<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="sampleStyles.css">
    <title>Samples</title>
</head>
<body>

    <header>
        <h1>Space</h1>
    </header>

    <%- include('partials/nav.ejs') %>
    <style>
        nav {
            position: relative;
            top: 10px;
            left: 10px;
            z-index: 2;
            font-family: 'Times New Roman', Times, serif
        }
    </style>

    <section class="banner">
        <img src ="galaxy.jpeg" alt="galaxy" class="galaxyimg">
        <h1 class="galaxytext">It's not good to eat on an empty stomach</h1>
        <h1 class="galaxytext2">Space is amazing!</h1>
        <h1 class="galaxytext3">Space is amazing!</h1>
        <h1 class="galaxytext4">Space is amazing!</h1>
        <h1 class="galaxytext5">Space is amazing!</h1>


    </section>

    <section class="info">
        <p>We live in the Milky Way Galaxy</p>
    </section>



</body>
</html>

