
.grid-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: gray;
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px;
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    /* column-count: 3; */
    /* justify = horizontal, align = vertical */
    
}

.grid-container > div {
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: pink;
    border: 1px solid green
}

.grid-container > div:nth-child(1) {
    /* start the first child at first gridline, go right 2 columns */
    grid-column: 1 / span 2;
}

.grid-container > div:nth-child(2) {
    /* start the first child at first gridline, go right 2 columns */
    grid-column: span 3;
    align-self: end;
}



